= form_for @war, html: {class: 'form-horizontal'} do |f|
  .form-group
    .col-sm-offset-2.col-sm-10
      %h1 Start War
  .form-group
    = f.label :clan_name, class: 'col-sm-2 control-label'
    .col-sm-10
      - if current_user.clan.present?
        %p.form-control-static= current_user.clan.name
      - else
        = f.text_field :clan_name, class: 'form-control', placeholder: 'Clan Name'
  .form-group
    = f.label :opponent_clan_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :opponent_clan_name, class: 'form-control', placeholder: 'Opponent Clan Name'
  .form-group
    = f.label :war_size_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :war_size_id, options_from_collection_for_select(@war_size, :id, :name), {}, {class: 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
