= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'} do |f|
  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        %h1 Sign Up
  .form-group
    .col-sm-offset-2.col-sm-10
      = devise_error_messages!
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, class: 'form-control', placeholder: 'your@email.com', autofocus: true
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password, class: 'form-control', placeholder: 'Enter your password', autocomplete: 'off'
      .help-block #{@minimum_password_length} characters minimum
  .form-group
    = f.label :password_confirmation, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter your passwrod again', autocomplete: 'off'
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control', placeholder: 'Your in-game name'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Sign Up', class: 'btn btn-primary'
  .form-group
    .col-sm-offset-2.col-sm-10
      = render 'devise/shared/links'
