= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} do |f|
  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        %h1 Clash Clan Tool
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, class: 'form-control', placeholder: 'your@email.com'
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.password_field :password, class: 'form-control', placeholder: 'password'
  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember me
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Sign In', class: 'btn btn-primary'
  .form-group
    .col-sm-offset-2.col-sm-10
      = render 'devise/shared/links'
